$bgcolor: #222;

body {
  margin: 0;
  background: $bgcolor url(../media/tf-bg.png) repeat-x top left;
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  color: #EEE;
}
#main-header {
  text-align: center;
  h1 {
  }
}

#main-footer {
}

.main-body {
  margin: 0 auto;
  max-width: 50rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  a {
    color: #EEEEEE;
  }

  figure {
    padding: 0;
    margin: 0;
    border: 2px solid white;
  }

  section {
  padding: 1rem;
    h1, h2, h3 {
      border-bottom: 1px solid #EEEEEE;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}


#intro p {
  margin-top: 0;
}

.go-back {
  display: block;
  color: #EEEEEE;
  text-align: right;
}
