{% extends "_base.html" %}

{% block body %}
<header id="main-header">
<img src="http://placehold.it/300x300"/>
<h1>Transformers Perú</h1>
<h3>Página oficial</h3>
</header>
<div class="main-body">
    <section class="section" id="reach-us">
        <a href="#" class="logo-btn">
            <img src="http://placehold.it/150x150" class="fb-logo"/>
            <div>
                <p>Encuéntranos en Facebook</p>
                <p>"Asociación Cultural Transformers Perú"</p>
                <p><img src="http://placehold.it/20x20"/>/tfperu</p>
            </div>
        </a>
    </section>
    <section class="section" id="home">
    <div class="body">
        <header>
            <h1>¿Quiénes somos?</h1>
        </header>
        <div class="content">
            {{pages.home|safe}}
        </div>
    </div>
    </section>
    <section class="section">
        <div class="body">
            <header>
                <h1>Foto del més</h1>
            </header>
            <div class="content">
            {{pages.pic_of_the_month|safe}}
            </div>
        </div>
    </section>
    <section class="section" id="contact">
    <div class="body">
        <header>
            <h1>Contáctanos</h1>
        </header>
        <div class="content">
            {{pages.contact|safe}}
        </div>
    </div>
    </section>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
