$bgcolor: #111;
$facebookBlue: #3b5998;

body {
  margin: 0;
  background: $bgcolor;
  font-family: Arial, sans-serif;
  font-weight: 200;
  color: #EEE;
}
#main-header {
  text-align: center;
}

.main-body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.section {
  .body {
  }
  .content {
    margin: 0 auto;
    text-align: justify;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: white;
  }
}

.logo-btn {
  display: flex;
  background: $facebookBlue;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,0.5);
  .fb-logo {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
  }
  div {
    flex: 1 0 auto;
    font-size: 0.8rem;
    text-align: left;
    padding: 0.25rem 0.5rem;
  }
  p {
    margin: 0;
  }
}

#reach-us {
  text-align: center;
}

#go-to-top {
  position: fixed;;
  display: block;
  background: rgba(0,0,0,0.6);
  color: white;
  border: 1px solid white;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.5;
}
#go-to-top:after {
  display: inline-block;
  height: 100%;
  content: '▲';
}
.anchor-pilcrow {
  visibility: hidden;
  position: relative;
  top: -5rem;
  font-size: 0;
}

