$bgcolor: #111;
$facebookBlue: #3b5998;

body {
  margin: 0;
  background: $bgcolor url(../media/tf-bg.png) repeat-x top left;
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  color: #EEE;
}
#main-header {
  text-align: center;
  padding-top: 1rem;
  h1 {
    margin-bottom: 1.5rem;
  }
  @media (min-width: 35rem) {
    display: flex;
    max-width: 50rem;
    margin: 0 auto;

    section {
      flex: 1 1 auto;
      h1 {
        font-size: 3.5rem;
      }
      h3 {
        text-align: right;
      }
    }
    .main-logo {
      flex: 0 0 auto;
      width: 25%;
      height: auto;
    }
  }
  @media (max-width: 35rem) {
    h1 {
      font-size: 2.5rem;
    }
  }
}
.main-logo {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

#pic-of-the-month {
  figure {
    margin: 0;
    padding: 0;
    img {
      border: 2px solid white;
      max-width: 100%;
      height: auto;
    }
    figcaption {
      font-style: italic;
      font-size: 0.8rem;
      text-align: right;
    }
  }
}

#reach-us {
  iframe {
    border: 0;
    width: 100%;
    max-width: 500px; // Matches plugin width
    margin: 0 auto;
  }
  .fan-page-iframe {
    text-align: center;
  }
}

#main-footer {
  h1 {
    font-size: 4rem;
    text-align: center;
    font-style: italic;
  }
}

.main-body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.5rem 1rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.section {
  margin-bottom: 8.5rem;
  .content {
    margin: 0 auto;
    text-align: justify;
  }
  h1 {
    //text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
  }
  a {
    color: white;
  }
}

.logo-btn {
  display: flex;
  max-width: 40rem;
  margin: 0 auto;
  background: $facebookBlue;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid rgba(0,0,0,0.25);

  .fb-logo {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
  }
  &.secondary {
    max-width: 30rem;
    .fb-logo {
      width: 50px;
      height: 50px;
    }
  }
  div {
    flex: 1 0 auto;
    font-size: 1rem;
    text-align: left;
    padding: 0.25rem 0.5rem;
  }
  strong {
    font-weight: bold;
    font-size: 1.1rem;
  }
  p {
    margin: 0;
  }
}
