{% extends "_base.html" %}

{% block meta_head %}
<meta name="og:image" content=""/>
<meta name="og:site_name" content=""/>
{% endblock %}

{% block body %}
<header id="main-header">
<figure class="main-logo" >
<img src="./media/tfperu-logo-clear-600.png"/>
</figure>
<section>
<h1>Museo Transformers Perú</h1>
</section>
</header>
<div class="main-body">
<figure>
<img src="./media/museo-main.jpg"/>
</figure>

<section>
    <p>El Museo Transformers Perú, pone en exhibición la colección personal
    del fundador del Club de Fans oficial "<a href="http://www.transformersperu.com/">Transformers Perú</a>".</p>
    <p>En esta exhibición se aprecia una fracción de su colección que busca mostrar
    las figuras mas resaltantes a lo largo de la historia de Transformers en los últimos
    35 años.</p>
    <p>Comenzando por las figuras originales G1, hasta las últmas líneas disponibles
    en tiendas locales pasando por otras lineas populares como Beast Wars, Cybertron.</p>
</section>
<section>
<h1>Urnas</h1>
    <p>Conoce más sobre cada una de las urnas:</p>
    <ol>
        {% for urn in urn_names %}
            <li><a href="./{{ urn.filename }}">{{ urn.name }}</a> </li>
        {% endfor %}
    </ol>
</section>

</div>
<footer id="main-footer">
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

