{% extends "_base.html" %}

{% block meta_head %}
<meta name="og:image" content="./media/{{ number }}.jpg"/>
<meta name="og:site_name" content="{{ name }}"/>
{% endblock %}

{% block body %}
<header id="main-header">
<h1>{{ name }}</h1>
</header>

<div class="main-body">
    <figure>
        <img src="./media/{{ number }}.jpg" alt="{{ name }}"/>
    </figure>

    <section id="intro">
        {{ intro|safe }}
    </section>

    {% if figures %}
        <section>
        <h1>Figuras utilizadas</h1>
        {{ figures }}
        </section>
    {% endif%}

    {% if collectors %}
        <section>
        <h1>Opiniones de los coleccionistas</h1>
        {{ collectors }}
        </section>
    {% endif%}

    <section>
    <p><a class="go-back" href="./">Ver todas las urnas</a> </p>
    </section>
</div>


<footer id="main-footer">
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}
